/* Color stop is where the transition starts */
/* Native Variables, We can use these without the need to preprocess, when values change browser repaints them */
:root{ 
  --meteor_gradient:linear-gradient(to top, #fff 0%, transparent 100%);

  /* Here are the random variables that will get changed in the Javascript file */

  --random_left:50%;
  --meteor_hight_cont:1686px;
  /*//meteor 1s linear infinite normal */
  --animation:meteor none;
  --meteor_opacity:0.7;
  --random_rotate:0deg;
} 


#meteor-cont{

  /* Absolute so doesn't get in the way */
  position: absolute;
  left:var(--random_left);
  transform: rotate(var(--random_rotate)); 
  height: var(--meteor_hight_cont);
  width: 50%;

  /* These are needed to center the meteor container vertically */
  top:0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;

  /* How elements in the container will be treated */
  display: flex;
  justify-content: center;
 }  

#meteor-ani{ 
  /* Becomes Positioned, effects children */
  position: relative;

  /* Inherrited 10% from parent */
  width: 10%;
  height: 100%;

  display: flex;
  justify-content: center; 

  animation:var(--animation);
 } 
  

 #meteor-cont #meteor{
  /* H+W of actual meteor */
  height: 12vh;
  width: 2px;
  background: var(--meteor_gradient);
  border-radius: 50% 50% 25% 25%;
  opacity: var(--meteor_opacity);
  
}


@keyframes meteor {
  0%
  {
      transform: translateY(0%);
  }
  100%
  {
      transform: translateY(100%);
  } 
}
