
/* Importing the stars css from stars.css */
@import url(stars.css);
@import url(meteor.css);

/* Color stop is where the transition starts */
/* Native Variables, We can use these without the need to preprocess, when values change browser repaints them */
:root{ 
  --background_moon_gradient:radial-gradient(ellipse at bottom, #4e4b4b, #0f0600 61%);
} 

html{
  background: var(--background_moon_gradient) no-repeat center fixed;
  background-size: cover;
  font-size: 100%;
  color: #fff;
  height: 100%;
}

body{
  height: 100%;
  margin:0;
}
/* Horizontal centering by margin auto + left/right 0 */
/* Vertical centering will only center towards its top boundary, bring it back up 1/2 its height */
#title{
  position: absolute;
  font-family: 'Poppins';
  font-size: 5rem;
  text-align: center;
  left: 0;
  right: 0;
  top: 50%;
  transform:translatey(-50%);
  z-index: 800;
}

#title span{
  background: -webkit-linear-gradient(#0f0600,#7a7a7a);
  /* Background behind the text */ 
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;}